<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <value>
                /**/auth.rpc=authController
                /**/pay.rpc=payController
            </value>
        </property>
    </bean>
 
	<bean id ="adminLogic" class="edu.ibs.core.operation.logic.CommonService"/>
	<bean id ="userLogic" class="edu.ibs.core.operation.logic.CommonService"/>

    <bean id="authService" class="edu.ibs.core.operation.logic.AuthServiceImpl">
        <property name="adminLogic" ref="adminLogic"/>
        <property name="userLogic" ref="userLogic" />
    </bean>

    <bean id="payService" class="edu.ibs.core.operation.logic.PaymentServiceImpl">
        <property name="adminLogic" ref="adminLogic"/>
        <property name="userLogic" ref="userLogic" />
    </bean>

    <bean id="authController" class="edu.ibs.core.gwt.GWTServiceWrapper">
        <property name="service" ref="authService" />
        <property name="serviceInterfaces" value="edu.ibs.common.interfaces.IAuthService" />
    </bean>

    <bean id="payController" class="edu.ibs.core.gwt.GWTServiceWrapper">
        <property name="service" ref="payService" />
        <property name="serviceInterfaces" value="edu.ibs.common.interfaces.IPaymentService" />
    </bean>

</beans>