<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:beans.xml</param-value>
    </context-param>

    <filter>
        <filter-name>IbsServerFilter</filter-name>
        <filter-class>edu.ibs.core.gwt.filter.IbsServerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IbsServerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>rpc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:beans.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>rpc</servlet-name>
        <url-pattern>*.rpc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SimpleCaptcha</servlet-name>
        <servlet-class>edu.ibs.core.gwt.servlet.ExtendedCaptchaServlet</servlet-class>
        <init-param>
            <param-name>width</param-name>
            <param-value>120</param-value>
        </init-param>
        <init-param>
            <param-name>height</param-name>
            <param-value>35</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>SimpleCaptcha</servlet-name>
        <url-pattern>/SimpleCaptcha.jpg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CS</servlet-name>
        <servlet-class>edu.ibs.core.currencies.CurrenciesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CS</servlet-name>
        <url-pattern>/cs</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>MyApp.html</welcome-file>
    </welcome-file-list>

</web-app>
